.card {
    width: 300px;
    height: 500px;
    background-image: url(../assets/images/card-image.jpg);
    background-size: cover;
    background-position: 55% center;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-content {
    position: relative;
    padding: 20px;
    overflow: hidden;
    display: inline-block;
}

.card-rang {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button {
    background-color: white;
    border: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 20px;

}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cloud-container {
    background-color:  rgba(255, 255, 255, 0.5);
}