.app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 300px;
    height: 500px;
    background-image: url(../assets/images/card-image.jpg);
    background-size: cover;
    background-position: 55% center;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid 10px white;
}

.card-content {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.card-title {
    margin-bottom: 5px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.card-title i {
    /* color: green; */
    margin-left: 5px;
}

.card-description {
    margin-bottom: 10px;
}

.card-rang {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.rang {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.rang > span {
    font-size: small;
}

button {
    background-color: white;
    border: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cloud-container {
    position: relative;
    overflow: hidden;
}

.cloud-filter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    mask-image: linear-gradient(to top, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 40%, transparent 100%);
    z-index: 0;
}

.cloud-content {
    position: relative;
    z-index: 1;
}