#root {
  max-width: 550px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
}

main {
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  padding:  16px;
}

header img {
  width: 24px;
  margin-right: 10px;
}

header h1 {
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
}

article {
  padding: 40px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.location img {
  width: 7px;
  margin-right: 4px;
}

.location > span {
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 5px;
  font-size: 0.7rem;
}

article a {
  color: #918E9B;
  font-size: 0.7rem;

}

article .title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.description {
  font-size: 0.7rem;
}