:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #282D35;
}

header {
  background-color: #21222A;
  padding: 0px 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 30px;
  width: 30px;
}

.nav-logo h3 {
  font-size: 24px;
  color: #61DAFB;
}

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image: url(...)
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
  padding: 20px;
  background-image: url(./assets/react.svg);
  background-repeat: no-repeat;
  background-position: right 75%;
  background-size: 200px;
}

ul li {
  padding-block: 5px;
}


li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

