#root {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 43px;
}

header > h1 {
  font-size: 2rem;
  font-weight: 400;
}