#root {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > img {
  width: 43px;
}

header > h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 10px;
}